/* Variables */

$font-one: 'Roboto', sans-serif;
$font-two: 'Roboto Slab', serif;
$font-three: 'Smooch', cursive;

$color-one: #ffbd33;
$color-two: #000;
$color-three: #fff;

/* Global */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.7;
}

.container {
  margin: 0 auto;
  max-width: 1140px;
  width: 100%;
}

nav,
.splash {
  color: $color-three;
}

section,
footer {
  color: $color-two;
}

h1,
h2,
h3,
h4 {
  font-family: $font-two;
}

h3 {
  text-transform: uppercase;
}

p {
  font-family: $font-one;
}

ul {
  list-style-type: none;
}

.splash,
.services,
.portfolio {
  margin-bottom: 100px;
}

/* Nav */

nav {
  margin-top: 10px;
  display: flex;
  position: absolute;
  width: 100%;
  height: 50px;
  z-index: 3;
  .flex-nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  p {
    color: $color-one;
    font-family: $font-three;
    line-height: 50px;
    font-size: 50px;
    font-weight: bold;
  }
  .outer-nav {
    display: flex;
    line-height: 50px;
    font-family: $font-two;
    li {
      padding-right: 20px;
      text-transform: uppercase;
      &:hover .inner-nav {
        display: block;
      }
    }
  }
  .inner-nav {
    line-height: 1.7;
    display: none;
    position: absolute;
    text-align: center;
  }
}

/* Splash */

.splash {
  display: flex;
  position: relative;
  background: url('https://images.pexels.com/photos/859895/pexels-photo-859895.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  &::after {
    content: '';
    height: 100%;
    width: 100%;
    background: #000;
    opacity: 0.7;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    z-index: 1;
  }
  .splash-inner {
    margin: auto;
    position: relative;
    z-index: 2;
    text-align: center;
    h1 {
      font-size: 5rem;
      padding: 30px 0 80px 0;
    }
    h2 {
      font-size: 2.5rem;
    }
    a {
      background: $color-one;
      text-decoration: none;
      color: $color-three;
      padding: 20px 25px;
      text-transform: uppercase;
      font-weight: bold;
      font-family: $font-one;
      letter-spacing: 2px;
      border-radius: 5px;
    }
  }
}

/* Services */

.services-flex {
  .services-title {
    padding: 20px 0;
    text-align: center;
    h3 {
      font-size: 2rem;
    }
  }
  .services-items {
    text-align: center;
    .service-item {
      padding: 15px;
    }
    h4 {
      font-size: 1.5rem;
    }
  }
  i {
    box-sizing: content-box;
    background: $color-three;
    border: 5px solid $color-one;
    color: $color-one;
    height: 75px;
    width: 75px;
    font-size: 30px;
    border-radius: 50%;
    line-height: 75px;
    margin: 40px 0;
  }
}

/* Portfolio */

.portfolio {
  background: #ddd;
  padding-bottom: 100px;
  padding-top: 50px;
  margin-bottom: 0;
  .portfolio-title {
    padding: 20px 0;
    text-align: center;
    h3 {
      font-size: 2rem;
    }
  }
  .portfolio-items {
    .portfolio-item {
      display: flex;
      flex-direction: column;
      margin: 20px 0;
      height: 400px;
      text-align: center;
      h4,
      p {
        background: $color-three;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

/* Footer */

.footer-flex {
  position: relative;
  height: 75px;
  p {
    line-height: 75px;
  }
  .icons {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 250px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    i {
      height: 50px;
      width: 50px;
      border-radius: 50%;
      color: $color-three;
      background: $color-two;
      line-height: 50px;
      font-size: 30px;
      text-align: center;
    }
  }
}

@media (max-width: 612px) {
  nav {
    .flex-nav {
      align-items: center;
      flex-direction: column;
    }
    p {
      line-height: 30px;
      font-size: 30px;
    }
    .outer-nav {
      li {
        padding-right: 10px;
      }
    }
  }

  .footer-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      line-height: 50px;
    }
    .icons {
      position: relative;
      top: 0;
      left: 0;
      transform: translate(0, 0);
      padding-bottom: 10px;
    }
  }
}
